.tick-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px; }
  .tick-list__icon {
    padding-right: 24px; }
  .tick-list__title {
    font-weight: bold;
    font-size: 16px; }
  .tick-list__text {
    font-size: 13px;
    color: #6d92a6; }
